[Unit]
Description=Daemon for controlling the Warwick one-metre telescope via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/talond /etc/talond/%i.json

[Install]
WantedBy=multi-user.target
