[Unit]
Description=Daemon for controlling the Warwick one-metre and SuperWASP telescopes via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/teld /etc/teld/%i.json
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
